[submodule "radare2"]
	path = radare2
	url = https://github.com/pwntester/cheatsheets.git
[submodule "docker"]
	path = tools/docker_toolset/docker
	url = https://github.com/wsargent/docker-cheat-sheet.git
